 /* Class used to contain floats */
     
 .group:before, .group:after {
        content: "";
        display: table;
      }
      .group:after {
        clear: both;
      }
      .group { 
        clear: both;
        zoom: 1;
      }
    /*End of Group Class used to contain floats */


/*Switch box sizing so width matches border+padding+content width
  Code taken from Learn.shayhowe.com/html-css/opening-the-box-model
*/

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


/*Formatting different elements on twittler*/


/* Formattin for body font, header elements, li elements, and container 
elements are below. We also construct the background div, which will be
used to fade out the background whenever a tweet is magnified*/
    body {
      font-family: Helvetica;
    }

      .container {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: #89CBE0;
    }

    .main-panel > h2,
    .main-panel > h3 {
        position: relative;
        left: 50%;
        margin-left: -10%;
    }

    .side-panel > h3,
    .side-panel > h2 {
        position: relative;
        left: 50%;
        margin-left: -20%;

    }

    .user-sidebar > h4 {
        position: relative;
        left: 50%;
        margin-left: -20%;
    }

    li {
        margin: 10px 0px;

    }

    .background.faded-out {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: gray;
        opacity: 0.8;
        z-index: 2;
      }

/*Below is the format for the main timeline and its list element*/
       .container .main-panel {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 60%;
        border: 1px solid
;        overflow: auto;
        border-radius: 5px;
      }

      .container .main-panel .main-tweets {
        position: relative;
        left: 10%;
      }

      .update-button {
        position: relative;
        left: 50%;
        margin-left: -10%; 
      }

/*Next is the formatting for the user side-bar, which shows all users 
  being followed */
      .container .user-sidebar {
        position: absolute;
        top: 0px
        left: 0px;
        height:35%;
        width:40%;
        border: 1px solid;
        border-radius: 5px;
      }

      .container .user-sidebar .user-handle-panel {
        text-align: center;
        display: block;
        padding: 10px;
        margin: 10px 0;
        background: white;
        /*border: 1px solid;*/
        border-radius: 5px;
        width: 66%;
        box-shadow: 7.5px 5px 5px black;

      }

      .container .user-sidebar .user-handle-panel.highlighted {
        width: 70%;
        background: #AFC3C9;
      }


  /*Next is the formating for the side-bar timeline 
  and its list element */

      .container .side-panel {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 65%;
        width: 40%;
        border: 1px solid;
        overflow: auto;
        border-radius: 5px;

      }

      .container .side-panel.highlighted {
        background: #F5AF2F;
      }

      .container .side-panel .side-tweets {
        position: relative;
        left: 15%;
      }

      
/*Below is all the formatting for every tweet shown in a list*/

      .tweet {
        text-align: center;
        display: block;
        padding: 10px;
        margin: 10px 0;
        background: white;
        /*border: 1px solid;*/
        border-radius: 5px;
        width: 66%;
        box-shadow: 7.5px 5px 5px black;
      }

      .tweet.highlighted {
        width: 70%;
        background: #AFC3C9;
      }

      .tweet.selected {
        background: white;
        position: fixed;
        font-size: 200%;
        height: 150px;
        width: 60%;
        left: 50%;
        top: 50%;
        margin-top: -10%;
        margin-left: -25%;
        z-index: 3;
      }
      
      




  

  