 /* Class used to contain floats */
     
 .group:before, .group:after {
        content: "";
        display: table;
      }
      .group:after {
        clear: both;
      }
      .group { 
        clear: both;
        zoom: 1;
      }
    /*End of Group Class used to contain floats */


/*Switch box sizing so width matches border+padding+content width
  Code taken from Learn.shayhowe.com/html-css/opening-the-box-model
*/

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


    /*Formatting different elements on twittler*/
    body {
      font-family: Helvetica;


    }

      #container {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: #89CBE0;
      }

       #live-stream {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 60%;
        border: 1px solid;
        overflow: auto;
        border-radius: 5px;
      }

      #user-sidebar {
        position: absolute;
        top: 0px
        left: 0px;
        height:25%;
        width:40%;
        border: 1px solid;
        border-radius: 5px;
      }

      #user-timeline {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 75%;
        width: 40%;
        border: 1px solid;
        overflow: auto;
        border-radius: 5px;

      }
      h2 {
        position: relative;
        left: 38%;
      }
      h3 {
        position: relative;
        left: 15%;

      }
      h4 {
        position: relative;
        left: 15%;
      }

      #user-list {
        position: relative;
        left: 15%;

      }

      #live-tweet-list {
        position: relative;
        left: 10%;
        margin: 0 auto;

      }

      #user-tweets {
        position: relative;
        left: 15%;


      }

      #update-button {
        position: relative;
        left: 40%;



      }

      .tweet {
        text-align: center;
        display: block;
        padding: 10px;
        margin: 10px 0px;
        background: white;
        border: 1px solid;
        border-radius: 5px;
        width: 66%;


      }
      .tweet-message {


      }

      .timeStamp {


      }

      li {
        margin: 10px 0px;

      }




  

  